<div class="edit-asset-image">
  <a href="../show_image/ <%= asset_group.id.to_s %>">
    <img src="../show_image/<%= asset_group.id %>" alt="<%= asset_group.name %>" width="200" border="0" />
  </a>
</div>