<h1 style="color:#507AAA">New Asset Type:</h1>

<%= form_remote_for :asset_type, @asset_type, :loading => 'facebox.loading()' , :url => { :action => "create", :id => @asset_type.id, :asset_id => @asset_id, :referer => @referer } do |f| %>
    <table>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr>
        <td>
          Description:
        </td>
        <td>
          <%= f.text_area :description, :size=>"23x10" %>
        </td>
      </tr>
      <tr>
        <td colspan='2' align='right'>
          <%= f.submit l(:create) %>
        </td>
      </tr>
    </table>
<% end %>