<%= form_remote_tag :url => {:controller => "reservations", :action => "update_notes", :id => reservation} do %>
<table>
  <tr>
    <td>
      <%= text_area_tag 'notes', reservation.notes, :size => "30x10" %>
    </td>
  </tr>
  <tr>
    <td align="right">
       <%= submit_tag l(:save) %>
    </td>
  </tr>
</table>
<% end %>