<span id="attachments_fields">
    <%= file_field_tag 'attachments[1][file]', :accept => 'image/png,image/gif,image/jpeg', :size => 30, :id => nil  -%>
    <%= text_field_tag 'attachments[1][description]', '', :size => 35, :id => nil %>
    <em>
      <%= l(:label_optional_description) %>.
    </em> <br />
    <%= check_box_tag 'attachments[1][is_private]', true, false %>
    <em>
      This attachment is private.
    </em>
</span>
