<% unless asset.asset_custom_fields.empty? %>
        <% asset.custom_field_values.each do |value| %>
            <% if asset.asset_custom_fields.include? value.custom_field %>
                <p>
                    <% @html = (custom_field_tag_with_label :asset, value).split '><' %>
                    <tr>
                          <td>
                            <%= link_to image_tag("/images/delete.png", :border=>0), :controller => "assets", :action => "remove_custom_field", :id => asset, :existing_custom_field => value.custom_field.id %>
                            <%= @html[0].html_safe + '>' %>
                          </td>
                          <% tag='<'+@html[1] %>
                          <td><%= tag.html_safe  %></td>
                    </tr>
                </p>
            <% end %>
        <% end %>
    <% end %>